<!Doctype html>
<html>
<head>
<style>
        body{background-color:Violet;
             
            }
        h1{text-align:right;
            background-color:blue;
           font-size: 300%;
            padding: 50px;}
        h2{
           text-align:center;
           font-size: 250%;
           padding: 40px;
         }
        form{
          text-align:right;
          padding:20px;
          font-size: 100%;
          color:orange;
          
        }
c
       
         
</style>
</head>
<body>
        <h1 style="color:DodgerBlue;">ATM</h1><br>
        <h2 style="color:blue;">Select your language</h2>
        <form  action="http://localhost:5000/login" method = "POST">
              <div>
                <button type = "submit">English</button>
                  <!--a href="atm.html" target="_blank" >English</a-->

              </div>
              <div>
                <br>
              </div>
              <div style=>
                <button type = "submit">Hindi</button>
                  <!--a href="atm.html" target="_blank" >Hindi</a-->
              </div>
          
          <!--<label for="lang1">English</label>-->

          
        </form>

</body>
</html>
        
