<!Doctype html>
<html>
<head>
<style>
        body{background-color:Violet;
             
            }
        h1{text-align:right;
            background-color:blue;
           font-size: 300%;
            padding: 50px;}
        h2{
           text-align:center;
           font-size: 250%;
           padding: 40px;
         }
         
           
         
</style>
</head>
<body>
        <h1 style="color:DodgerBlue;">ATM</h1><br>
        <form name='balance_form' style="text-align:center">
              <div style="color:blue;font-size:150%;">
                <p>your entered incorrect details<a href="http://localhost:5000/registration_form">retry once</a></p>
              </div>
                
          
          <!--<label></label>el for="lang1">English</label>-->

          
        </form>
        <br>
        <div style="text-algn:left;margin:25px;">
          <form action = "http://localhost:5000/logout" method="POST">
            <button type="submit">logout</button>

          </form>
        </div>
</body>
</html>
        
