<!Doctype html>
<html>
<head>
<style>
    body{background-color:Violet;
             
        }
     h1{text-align:center;
            background-color:blue;
           font-size: 300%;
            padding: 50px;}
        h2{
           text-align:center;
           font-size: 250%;
           padding: 40px;
         }
         
           
         
</style>
<body>
	<h1 style="color:DodgerBlue;">ATM</h1><br>
	<p>choose the correct amount</p>
	<div>
          <a href="http://localhost:5000/withdrawl">Retry once</a>
    </div>

	     
</body>
</html>